@charset "utf-8";
/* CSS Document */
@import url('reset.css');
body.loginPage{background:url(../../images/login/login_back.jpg) center top no-repeat;}
/* .login_wrap{width:752px; margin: 130px auto 0 auto;} */
.login_wrap{position:absolute;top:50%;left:50%;margin-left:-252px;margin-top:-246px;width:504px;height:475px;padding-top:17px;background:url(../../images/login/login_shadow.png) left top no-repeat;}
.login_con_wrap{width:470px;margin:0 auto;}
/* .login_top{position:relative;width:100%;height:70px;}
.login_top h1{height:49px;background:url(../../images/login/join_logo.png) center top no-repeat;text-indent:-9999px;overflow:hidden;} */
.login_top{position:relative;width:100%;height:70px;border-bottom:1px solid #d6d6d6;}
.login_top h1{height:70px;background:url(../../images/main/gas_logo.png) center center no-repeat;text-indent:-9999px;overflow:hidden;}
/* .login_top .img_area{position:absolute;right:0;bottom:-40px;width:296px;height:202px;background:url(../../images/login/main_image.png) left top no-repeat;} */
.login_con{border:1px solid #d6d6d6;border-top:3px solid #262626;}

/* .login_con .info_input{float:left;width:376px;padding:30px 0 40px;text-align:center;} */
/* .login_con .info_input{padding:30px 0 40px;text-align:center;} */
.login_con .info_input{padding:30px 0 60px;border-top:2px solid #eaeaea;text-align:center;}
.login_con .info_input h2{margin-bottom:30px;font-size:48px;text-align:center;color:#004b8d;font-weight:600;letter-spacing:-1px;}
.login_con .info_input.adm{padding:20px 0 50px;}
.login_con .info_input.adm h2{margin-bottom:10px;}
/* .login_con .corp_input{width:242px;margin:0 auto 5px;padding:5px 10px;background:#f5f5f5} */
.login_con .corp_input{width:280px;margin:0 auto 5px;padding:5px 10px;background:#f5f5f5}
.login_con .corp_input label{font-size:14px;}
.login_con .corp_input label,
.login_con .corp_input input,
.login_con .corp_input a{display:inline-block;vertical-align:middle;}
.login_con .corp_input .search_input{width:172px;height:26px;margin-left:10px;border:1px solid #d2d2d2;box-sizing:border-box;-moz-box-sizing:border-box;}
/* .login_con .login_function{width:262px;height:20px;margin:10px auto;} */
.login_con .login_function{width:300px;height:20px;margin:15px auto;}
.login_con .login_function input,
.login_con .login_function label,
.login_con .login_function a{display:block;float:left;}
.login_con .login_function a{float:right;}
.login_con .login_function label{margin-left:5px;cursor:pointer;}
/* .login_con .input_div{position:relative;width:262px;height:45px;margin:0 auto;text-align:left;} */
.login_con .input_div{position:relative;width:300px;height:45px;margin:0 auto;text-align:left;}
.login_con .pw_input{margin-top:5px;}
.login_con .id_input label,
.login_con .pw_input label{position:absolute;top:0;left:0;display:block;width:242px;height:31px;padding-top:14px;padding-left:20px;font-size:14px;color:#333;visibility:visible;}
/* .login_con .id_input input,
.login_con .pw_input input{width:262px;height:45px;padding:14px 0 14px 20px;border:none;background:url(../../images/login/input_bg.png) left top no-repeat;font-size:14px;} */
.login_con .id_input input,
.login_con .pw_input input{width:300px;height:45px;padding:14px 0 14px 20px;border:none;background:url(../../images/login/input_bg.png) left top no-repeat;font-size:14px;}
/* .login_btn{width:262px;height:55px;margin:6px auto 0 auto;border:none;background:url(../../images/login/login_btn.png) left top no-repeat;font-size:28px;color:#fff;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;letter-spacing:-1px;overflow:hidden;} */
.login_btn{width:300px;height:55px;margin:6px auto 0 auto;border:none;background:url(../../images/login/login_btn.png) left top no-repeat;font-size:28px;color:#fff;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;letter-spacing:-1px;overflow:hidden;}
.warn_con{float:right;width:375px;height:98px;padding-top:278px;background:#fcfcfc url(../../images/login/mem_join_bg.png) 90px 60px no-repeat;text-align:center;}
.warn_con .signUp_btn{width:262px;height:55px;margin:0 auto;border:none;background:url(../../images/login/signUp_btn.png) left top no-repeat;font-size:28px;color:#333;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;letter-spacing:-1px;overflow:hidden;}
.warn_txt{margin-top:165px;font-size:12px;color:#333;}
/* .login_visual{float:right;box-sizing:border-box;overflow:hidden;padding:20px;width:375px;background:#fcfcfc;} */

/*sign up*/
.signUp_wrap{width:1000px;margin:0 auto;}
.signUp_wrap h1{width:100%;padding:40px 0;font-size:48px;color:#004b8d;text-align:center;font-weight:600;}
.signUp_wrap h1 span{display:inline-block;margin-top:3px;vertical-align: bottom;}
.signUp_wrap h1 .join_logo{width:136px;height:49px;margin-top:0;margin-right:15px;background:url(../../images/login/join_logo.png) 0 0 no-repeat;}
.signUp_wrap .join_nav{overflow:hidden;width:100%;height:69px;background:url(../../images/login/join_nav.png) no-repeat;font-size:0;text-indent:-9999px;}
.signUp_wrap .agree{background-position: 0 0;}
.signUp_wrap .input_info{background-position: 0 -69px;}
.signUp_wrap .join_mem{background-position: 0 -138px;}
.signUp_wrap h2{margin:20px 0 10px 0;color:#333;font-weight:700;}
.signUp_wrap .join_process h2{margin-top:40px;font-size:20px;}
.signUp_wrap table{width:100%;border-top:1px solid #333;border-collapse: collapse;}
.signUp_wrap table caption{font-size:0;width:0;height:0;}
.signUp_wrap table th{padding:10px 0 10px 20px;border-bottom:1px solid #b1b1b1; background-color: #f5f5f5;border-collapse:collapse;box-sizing:border-box;-moz-box-sizing:border-box;font-size:14px;text-align:left;}
.signUp_wrap table td{padding:10px;border-bottom:1px solid #ddd;border-collapse: collapse;box-sizing:border-box; -moz-box-sizing:border-box;}
.signUp_wrap table td input[type=text]{width:100%;height:25px;padding-left:10px;border:1px solid #ccc;}
.signUp_wrap table td input{vertical-align:middle;}
.signUp_wrap table td li{float:left;}
.signUp_wrap table .check_btn{width:87px;height:25px;border:none;background:url(../../images/login/check_btn.gif) 0 0 no-repeat;font-size:13px;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;}

.signUp_wrap table.module_select th{font-size:18px;}
.signUp_wrap table.module_select td ul::after{clear:both;display:block;content:' ';height:0;font-size:0;}
.signUp_wrap table.module_select li{position:relative;margin-left:5px;margin-right:10px;}
.signUp_wrap table.module_select li label{display:block;padding-top:68px;width:63px;background:url(../../images/login/module_icons.gif) no-repeat;font-size:14px;text-align:center;letter-spacing:-1px;cursor:pointer;}
.signUp_wrap table.module_select li label.module01{background-position: 0 0;}
.signUp_wrap table.module_select li label.module02{background-position: -63px 0;}
.signUp_wrap table.module_select li label.module03{background-position: -126px 0;}
.signUp_wrap table.module_select li label.module04{background-position: -189px 0;}
.signUp_wrap table.module_select li label.module05{background-position: -252px 0;}
.signUp_wrap table.module_select li label.module06{background-position: 0 -218px;}
.signUp_wrap table.module_select li label.module07{background-position: -63px -218px;}
.signUp_wrap table.module_select li label.module08{background-position: -126px -218px;}
.signUp_wrap table.module_select li label.module09{background-position: 0 -436px;}
.signUp_wrap table.module_select li label.module10{background-position: -63px -436px;}
.signUp_wrap table.module_select li label.module11{background-position: -126px -436px;}
.signUp_wrap table.module_select li label.module12{background-position: 0 -654px;}
.signUp_wrap table.module_select li label.module13{background-position: -63px -654px;}
.signUp_wrap table.module_select li label.module14{background-position: -126px -654px;}
.signUp_wrap table.module_select li label.module15{background-position: 0 -872px;}
.signUp_wrap table.module_select li label.module16{background-position: -63px -872px;}
.signUp_wrap table.module_select li label.module17{background-position: -126px -872px;}
.signUp_wrap table.module_select li label.module18{background-position: -189px -872px;}
.signUp_wrap table.module_select li label.module19{background-position: -189px -654px;}
.signUp_wrap table.module_select li label.module20{background-position: -315px 0;}
.signUp_wrap table.module_select li label.module01.on{background-position: 0 -109px;}
.signUp_wrap table.module_select li label.module02.on{background-position: -63px -109px;}
.signUp_wrap table.module_select li label.module03.on{background-position: -126px -109px;}
.signUp_wrap table.module_select li label.module04.on{background-position: -189px -109px;}
.signUp_wrap table.module_select li label.module05.on{background-position: -252px -109px;}
.signUp_wrap table.module_select li label.module06.on{background-position: 0 -327px;}
.signUp_wrap table.module_select li label.module07.on{background-position: -63px -327px;}
.signUp_wrap table.module_select li label.module08.on{background-position: -126px -327px;}
.signUp_wrap table.module_select li label.module09.on{background-position: 0 -545px;}
.signUp_wrap table.module_select li label.module10.on{background-position: -63px -545px;}
.signUp_wrap table.module_select li label.module11.on{background-position: -126px -545px;}
.signUp_wrap table.module_select li label.module12.on{background-position: 0 -763px;}
.signUp_wrap table.module_select li label.module13.on{background-position: -63px -763px;}
.signUp_wrap table.module_select li label.module14.on{background-position: -126px -763px;}
.signUp_wrap table.module_select li label.module15.on{background-position: 0 -981px;}
.signUp_wrap table.module_select li label.module16.on{background-position: -63px -981px;}
.signUp_wrap table.module_select li label.module17.on{background-position: -126px -981px;}
.signUp_wrap table.module_select li label.module18.on{background-position: -189px -981px;}
.signUp_wrap table.module_select li label.module19.on{background-position: -189px -763px;}
.signUp_wrap table.module_select li label.module20.on{background-position: -315px -109px;}
.signUp_wrap table.module_select li input[type=checkbox]{position:absolute;left:0;top:0;}
.signUp_wrap .join_btn{display:block;width:300px;height:65px;margin:30px auto;border:none;background:url(../../images/login/join_btn.png) no-repeat;font-size:24px;color:#fff;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;}

/* 메세지 박스 */
/* .msgBox { position:relative; float:left; width:372px; border:solid 2px #4d8ce4; background:#fff; } */
.msgBox { position:relative; float:left; width:372px; min-height:150px; border:solid 2px #666; background:#fff; }
/* .msgBox .msgBoxIn { width:362px; border:solid 5px #f4f4f4;  position:relative; float:left; padding:13px 0 15px 0; } */
.msgBox .msgBoxIn { width:362px;min-height:105px; border:solid 5px #f4f4f4;  position:relative; float:left; padding:35px 0 0 0; }
.msgBox .msgBoxIn strong { width:140px; text-align:center; display:inline-block; font-family:"Nanum Gothic",Helvetica, Arial,Verdana; font-size:26px; color:#6495ed; font-weight:normal; line-height:32px; }
.msgBox .msgBoxIn ul { padding: 3px 0; vertical-align:middle; font-size: 12px; }
.msgBox .msgBoxIn li { font-size:14px; color:#000; line-height:140%; }
.msgBox .msgBoxIn li a { font-size:12px;}
.msgBox .msgBoxIn .boxRound01 { width:12px; height:12px; position:absolute; left:-7px; top:-7px; }
.msgBox .msgBoxIn .boxRound02 { width:12px; height:12px; position:absolute; right:-7px; top:-7px; }
.msgBox .msgBoxIn .boxRound03 { width:12px; height:12px; position:absolute; left:-7px; bottom:-7px; }
.msgBox .msgBoxIn .boxRound04 { width:12px; height:12px; position:absolute; right:-7px; bottom:-7px; }

/* 버튼 */
.btn_area { font-size: 0px; }
.white_btn22 { display: inline-block; height: 22px; background:url('../../images/bttn/white_btn22.png') 0px 0px no-repeat; }
.white_btn22 span { height: 20px; display: inline-block; padding: 2px 20px 0px 20px; background:url('../../images/bttn/white_btn22.png') 100% -22px no-repeat; color: #103c6a; font-size: 11px; font-weight: 900; cursor: pointer; }
.white_btn22.pop_sel_btn span { width: 50px; font-weight: normal; color: #000; padding-left: 10px; padding-right: 10px; }

.agree_wrap{width:100%;margin-top:20px;border:1px solid #dbdbdb;box-sizing:border-box;-moz-box-sizing:border-box;}
.agree_wrap .agr_tit{height:48px;border-bottom:1px solid #ccc;}
.agree_wrap .agr_tit h2{float:left;margin-left:20px;margin-top:15px;}
.agree_wrap .agr_tit .agr_ch{float:right;margin-top:17px;margin-right:20px;}
.agree_wrap .agr_tit .agr_ch input,
.agree_wrap .agr_tit .agr_ch label{vertical-align:middle;}
.agree_wrap .agr_tit .agr_ch label{display:inline-block;font-size:14px;margin-left:5px;cursor:pointer;}
.agree_wrap .agr_con{overflow-y:auto;width:918;height:158px;padding:20px 40px 20px;border-bottom:1px solid #ccc;background-color:#f4f4f4;}
.agree_wrap .agr_con h3{margin-top:20px;margin-bottom:20px;font-weight:600;}
.agree_wrap .agr_con h3:first-child{margin-top:0;}
.agree_wrap .agr_con h4{margin-top:20px;margin-bottom:15px;font-weight:600;}
.agree_wrap .agr_con ol,
.agree_wrap .agr_con ul,
.agree_wrap .agr_con>p{margin-bottom:10px;}
.agree_wrap .agr_con li{margin-bottom:5px;}
.agree_wrap .agr_con ol ol,
.agree_wrap .agr_con ol ul{margin-top:10px;}
.agree_wrap .agr_con ol p{padding-left:12px;margin-top:4px;}
.agree_wrap .agr_con ol li li{padding-left:10px;}
.agree_wrap .agr_con caption{height:0;width:0;font-size:0;}
.agree_wrap .agr_con table{border-left:1px solid #ddd;border-top:1px solid #ddd;}
.agree_wrap .agr_con th,
.agree_wrap .agr_con td{padding:10px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff;box-sizing:border-box;-moz-box-sizing:border-box;line-height:130%;}
.agree_wrap .agr_con th{height:30px;background:#f9f9f9;text-align:center;}
.btn_area{width:100%;margin-top:30px;margin-bottom:20px;text-align:center;}
.btn_area input{display:inline-block;box-sizing:border-box;vertical-align:middle;width:170px;height:50px;padding:14px;margin-right:5px;background:#fff;text-align:center;font-size:18px;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;}
.btn_area .cancel_btn{border:1px solid #333;color:#333;}
.btn_area .agree_btn{border:none;background:#3779bc;color:#fff;}

.signUp_end_wrap{width:500px;height:310px;padding-left:500px;padding-top:70px;margin-top:24px;border-bottom:1px solid #aaa;background:url(../../images/login/end_bg.png) 0 0px no-repeat;}
.signUp_end_wrap .join_logo{width:136px;height:49px;margin-right:15px;background:url(../../images/login/join_logo.png) 0 0 no-repeat;}
.signUp_end_wrap p{margin-top:20px;font-size:22px;line-height:150%;}
.signUp_end_wrap .go_login{display:inline-block;box-sizing:border-box;width:170px;height:50px;padding:14px;margin-top:30px;border:none;background:#3779bc;color:#fff;text-align:center;font-size:18px;font-family:"Nanum Gothic",Helvetica, Arial,Verdana;}