@charset "utf-8";
/* CSS Document */
@import url('reset.css');
/* main_page */
.main_page {background-color:#eff0f1;}
/* #main_wrap {width: 1200px; margin: 0 auto;} */
#main_wrap {width: 100%;}
/* main_header */
/* #main_header{width:100%; height: 60px;} */
#main_header{margin: 0 auto;width:1200px; height: 50px;}
#main_header .logo{float:left; width:134px; height:34px; margin-top:8px;}
#main_header .logo a{display:block;height:34px; background: url(/images/main/gas_logo.png) 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}
#main_header .util_nav{float:right; margin-top: 18px;}
#main_header .util_nav li{float:left; padding: 0 15px; background: url(/images/hncis_common/util_nav_dot.gif) left center no-repeat; font-size: 11px; color: #000; }
#main_header .util_nav li:first-child{padding-left:20px; background:url(../../images/hncis_common/member_icon.png) left center no-repeat;}
#main_header .util_nav li.mem_info{ padding-left: 20px; background: url(/images/hncis_common/member_icon.png) left center no-repeat; }
#main_header .util_nav li.last{ padding-right:0; }
#main_header .util_nav li .mem_name{color: #004b8e;}
#main_header .util_nav li a{color: #666;}
#main_header .util_nav::after{display:block;height:0;content:'';clear:both;}
/* main_header end */
/* main_contents */
#main_content_wrap{}
/* 삭제예정 */
/* .div_box{position:relative; border-left:1px solid #d8d8da; border-right:1px solid #d8d8da; background:#fff url(/images/hncis_common/box_b_line.gif) left bottom repeat-x;}
.box_corner{position:absolute; width:6px; height:6px; background: url(/images/hncis_common/box_corner.gif) 0 0 no-repeat;}
.box_lt{left:-1px; top:0; z-index:10;}
.box_rt{right:-1px; top:0; background-position: 0 -6px;}
.box_lb{left:-1px; bottom:0; background-position: 0 -12px;}
.box_rb{right:-1px; bottom:0; background-position: 0 -18px;}
.main_box_rt{right:-1px; top:0; background-position: 0 -24px;}
.main_box_rb{right:-1px; bottom:0; background-position: 0 -30px;}
.not_box_lt{left:-1px; top:0; background-position: 0 -36px;} */
/* 삭제예정 끝 */
.main_menu_wrap{width:100%;height:470px;padding-top:30px;background: url(/images/main/main_visual.jpg) center top no-repeat;}
.main_menu_area{overflow:hidden;margin: 0 auto;width:1200px;height:440px;}
/* 삭제예정 */
/* .visual_area{float:left; width:363px; height:452px; background: url(/images/main/main_visual01.png) center center no-repeat;}
.visual_area.main_img01{background: url(/images/main/main_visual01.png) center center no-repeat;}
.visual_area.main_img02{background: url(/images/main/main_visual02.png) center center no-repeat;}
.visual_area.main_img03{background: url(/images/main/main_visual03.png) center center no-repeat;}
.visual_area.main_img04{background: url(/images/main/main_visual04.png) center center no-repeat;}
.visual_area.main_img05{background: url(/images/main/main_visual05.png) center center no-repeat;} */
/* 삭제예정 끝 */
/* .main_gnb_area {float:right; width:814px; height:432px; padding:10px; padding-left:11px; background-color:#f9f9f9;}
.main_gnb_area .main_gnb {position:relative; border:1px solid #e5e5e5; width:812px; height:430px; background-color:#fff;} */
/* .main_gnb_area {float:right; width:817px; height:432px; padding:10px 8px 10px 9px; background-color:#f9f9f9;} */
.main_menu_area>ul{height:440px;margin-left:-12px;}
.main_menu_area>ul>li{float:left; position:relative; width:291px; height:440px; margin-left:12px; background-color:#fff;font-size:0;}
.main_menu_area>ul>li h2 {height:67px;border-top:1px solid #5c616f;background-color:#747b8e;text-align:center;font-size:24px;font-weight: 600;color:#fff;line-height:67px;}
/* .main_menu_area>ul>li h2.menu_ico{background:url(/images/main/m_icon.png) 0 0 no-repeat;}
.main_menu_area>ul>li h2.m_icon01{background-position: 146px 15px;}
.main_menu_area>ul>li h2.m_icon02{background-position: 125px -86px;}
.main_menu_area>ul>li h2.m_icon03{background-position: 134px -186px;}
.main_menu_area>ul>li h2.m_icon04{background-position: 140px -284px;}
.main_menu_area>ul>li:hover h2.m_icon01{background-position: 146px -376px;}
.main_menu_area>ul>li:hover h2.m_icon02{background-position: 125px -477px;}
.main_menu_area>ul>li:hover h2.m_icon03{background-position: 134px -577px;}
.main_menu_area>ul>li:hover h2.m_icon04{background-position: 140px -675px;} */
.main_menu_area>ul>li:hover h2{border-top:1px solid #2164aa;background-color:#3285dc;}
.main_menu_area>ul>li .tit_line{display: inline-block; height:2px; width:24px; margin-left:19px; background-color: #333; font-size: 0;}
.main_menu_area>ul>li h2.line2 {height:91px; padding-top: 17px;}
.main_menu_area>ul>li:hover{}

.main_menu {overflow:hidden;}
.main_menu li{float:left;border-right:1px solid #e5e4e7;border-bottom:1px solid #e5e4e7;}
.main_menu li.even{border-right:none;}
.main_menu li a{display:block;width:145px;height:83px;padding-top:15px;text-align:center;font-size:15px;color:#333;}
.main_menu li a span{display:block;}
.main_menu li a span.ms_ico{margin:0 auto;width:44px;height:37px;}
.main_menu li a span.txt{margin-top:10px;}
.main_menu li:hover{background-color:#f5f6f6;}

.main_menu_light{overflow:hidden;margin: 0 auto;width:1200px;height:440px;}
.main_menu_light ul{margin-top:-16px;}
.main_menu_light ul li{float:left;margin-top:16px;margin-right:15px;border:1px solid #ccc;background-color:#fff;}
/* .main_menu_light ul li.opacity{background-color: rgba( 255, 255, 255, 0.8 );} */
.main_menu_light ul li a{position:relative;display:block;width:226px;height:170px;padding-top:40px;color:#333;}
.main_menu_light ul li a span{display:block;}
.main_menu_light ul li a .m_ico{margin: 0 auto;width:87px;height:75px;}
.main_menu_light ul li a .txt{margin-top:20px;font-size:20px;text-align:center;}
/* .main_gnb_area .main_gnb>ul>li:hover h2{color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .tit_line{background-color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu{background:url(/images/main/main_menu_bottom_hover.png) 0 100% no-repeat;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li a{color:#fff; font-weight:500; border-top:1px solid #4d84b7;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:first-child a{border-top:none;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:hover a{ padding-top: 8px; border-top:none; color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:first-child:hover a{ padding-top: 7px;} */

/* 삭제예정 */
/* .main_gnb_area .main_gnb {position:relative; width:817px; height:430px;}
.main_gnb_area .main_gnb>ul>li{float:left; position:relative; width:202px; height:430px; margin-left:3px; background:url(/images/main/main_menu_top.png) 0 0 no-repeat;font-size:0;}
.main_gnb_area .main_gnb>ul>li:first-child { margin-left:0;}
.main_gnb_area .main_gnb>ul>li h2 {height:40px; padding:20px 0 0 19px; font-size:22px; font-weight: 600;}
.main_gnb_area .main_gnb>ul>li h2.menu_ico{background:url(/images/main/m_icon.png) 0 0 no-repeat;}
.main_gnb_area .main_gnb>ul>li h2.m_icon01{background-position: 146px 15px;}
.main_gnb_area .main_gnb>ul>li h2.m_icon02{background-position: 125px -86px;}
.main_gnb_area .main_gnb>ul>li h2.m_icon03{background-position: 134px -186px;}
.main_gnb_area .main_gnb>ul>li h2.m_icon04{background-position: 140px -284px;}
.main_gnb_area .main_gnb>ul>li:hover h2.m_icon01{background-position: 146px -376px;}
.main_gnb_area .main_gnb>ul>li:hover h2.m_icon02{background-position: 125px -477px;}
.main_gnb_area .main_gnb>ul>li:hover h2.m_icon03{background-position: 134px -577px;}
.main_gnb_area .main_gnb>ul>li:hover h2.m_icon04{background-position: 140px -675px;}
.main_gnb_area .main_gnb>ul>li .tit_line{display: inline-block; height:2px; width:24px; margin-left:19px; background-color: #333; font-size: 0;}
.main_gnb_area .main_gnb>ul>li h2.line2 {height:91px; padding-top: 17px;}
.main_gnb_area .main_gnb>ul>li:hover{background:url(/images/main/main_menu_top_hover.png) 0 0 no-repeat;}

.main_gnb_lite_area {float:right; width:818px; height:432px; padding:10px 8px 10px 9px; background-color:#f9f9f9;}
.main_gnb_lite_area .main_gnb_lite {position:relative; width:818px; height:430px;}
.main_gnb_lite_area .main_gnb_lite ul li{float:left; position:relative;width:264px;height:210px;margin-left:10px; font-size:0;}
.main_gnb_lite_area .main_gnb_lite ul li.first { margin-left:0;}
.main_gnb_lite_area .main_gnb_lite ul li.sec_line{margin-top:9px;}
.main_gnb_lite_area .main_gnb_lite ul li a{display:block;width:264px;height:210px;font-size:20px;color:#000;font-weight: 400;text-align:center;}
.main_gnb_lite_area .main_gnb_lite ul li a span{display:block;margin-top:15px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.menu_lite_ico{margin:27px auto 0;width:112px;height:112px;background:url(/images/main/m_lite_icon.png) 0 0 no-repeat;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m01{background-position: 0 0;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m02{background-position: -112px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m03{background-position: -224px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m04{background-position: -336px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m05{background-position: -448px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m06{background-position: -560px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.w_m07{background-position: -672px 0px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m01{background-position: 0 -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m02{background-position: -112px -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m03{background-position: -224px -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m04{background-position: -336px -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m05{background-position: -448px -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.s_m06{background-position: -560px -112px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.b_m01{background-position: 0 -224px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.b_m02{background-position: -112px -224px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.b_m03{background-position: -224px -224px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.c_m01{background-position: 0 -336px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.c_m02{background-position: -112px -336px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.c_m03{background-position: -224px -336px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.c_m04{background-position: -336px -336px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.g_m01{background-position: 0 -448px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.g_m02{background-position: -112px -448px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.g_m03{background-position: -224px -448px;}
.main_gnb_lite_area .main_gnb_lite ul li a span.g_m04{background-position: -336px -448px;}
.main_gnb_lite_area .main_gnb_lite ul li a.go_lite_btn{overflow:hidden;position:absolute;right:16px;top:16px;text-indent:-999px;width:27px;height:27px;padding-top:0;font-size:0;color:#fff;text-align:left;background:url(/images/main/go_lite_btn.png) 0 0 no-repeat;} */
/* 삭제예정 끝 */
/* .m_menu_box{position:absolute; width:4px; height:4px; background: url(/images/main/m_menu_box.png) 0 0 no-repeat;}
.m_box_rt{right:-1px; top:-1px;}
.m_box_rb{right:-1px; bottom:-1px; background-position: 0 -4px;} */

/* .main_menu {height:351px; padding-top:20px; background:url(/images/main/main_menu_bottom.png) 0 100% no-repeat;}
.main_menu li{padding:0 19px;}
.main_menu li a{display:block; height: 25px; padding-top: 7px; border-top:1px solid #ebebeb; color:#333; font-size:15px;}
.main_menu li:first-child a{border-top:none;}
.main_menu li a span{display:block; padding-left:12px; background:url(/images/main/square_point.gif) 2px 50% no-repeat;}
.main_menu li:hover{background-color:#004b8e;}
.main_gnb_area .main_gnb>ul>li:hover h2{color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .tit_line{background-color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu{background:url(/images/main/main_menu_bottom_hover.png) 0 100% no-repeat;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li a{color:#fff; font-weight:500; border-top:1px solid #4d84b7;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:first-child a{border-top:none;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:hover a{ padding-top: 8px; border-top:none; color:#fff;}
.main_gnb_area .main_gnb>ul>li:hover .main_menu li:first-child:hover a{ padding-top: 7px;} */

.info_area{clear:both;margin: 0 auto;width:1200px;margin-top:40px;}
.info_box{border:1px solid #dddddd;border-right:none;}
.notice{position:relative;width:518px; height: 188px; padding:35px 40px;}
.notice h2{color:#000; font-size:24px; font-weight: 600;}
.notice ul{margin-top:35px;}
.notice li{display:table;margin-top:10px;width:100%;font-family:hmcL, 'ModernH-EcoLight', Verdana, sans-serif;font-size:0;}
.notice li a{overflow:hidden;float:left;width:400px;color:#333;font-size:14px;vertical-align:middle;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis;}
.notice li a:hover{color:#115796; text-decoration:underline;}
.notice li a.link{margin-right:10px;}
.notice li a.flow{display:block;right:50px;text-align:right;position:absolute;}
.notice li span{float:right;color:#999;font-size:12px;text-align:right;vertical-align:middle;}
.notice .more_btn{display:block; position:absolute; right:30px; top:20px; width:26px; height:26px; background:url(/images/main/notice_more_icon.png) 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}
.notice .more_btn:hover{background-position:0 -26px;}

.notice .more_btn{display:block; position:absolute; right:35px; top:38px; width:26px; height:26px; background:url(/images/main/notice_more_icon.png) 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}
.notice .more_btn:hover{background-position:0 -26px;}

.calendar{width:259px;height:220px;padding:38px 20px 0;}
.main_calendar .dChoice{position:relative;text-align: center; font-size: 0px;}
.main_calendar .dChoice p,
.main_calendar .dChoice select{display: inline-block; font-size: 12px; vertical-align: middle;}
.main_calendar .dChoice .cal_btn{position:absolute;width:22px; height:22px; background:url(/images/main/calendar_btn.png) 0 0 no-repeat; text-indent: -9999px; overflow: hidden;}
.main_calendar .dChoice .prv{top:0;left:10px;}
.main_calendar .dChoice .next{top:0;right:10px; background-position: -22px 0;}
.main_calendar .dChoice .prv:hover{background-position: 0 -22px;}
.main_calendar .dChoice .next:hover{background-position: -22px -22px;}
.main_calendar .dChoice select{width:40px; padding:2px;}
.main_calendar .dChoice select.year{width:70px;}
.main_calendar .dChoice select.month{width:55px;margin-left:5px;}
.main_calendar .calendar_form{padding-top:20px;}
.calendar_form table{width:260px;}
.calendar_form table th{height:25px; background-color:#eff0f1; font-size:12px; font-weight:normal; text-align:center;}
.calendar_form table td{width:37px; height:17px; padding-top:3px; border:none; background-color:#fff; vertical-align:middle; font-size:12px; text-align:center; color:#3f3f41; cursor: pointer;}
.calendar_form table td:hover{font-weight: 600;}
.calendar_form table th.sunday{color:#ff0000;}
.calendar_form table th.saturday{color:#0066ca;}
.calendar_form .tableline{text-decoration: underline; font-weight: 600;}

.per_cha{width:299px;height:258px;border-right:1px solid #dddddd;}
.per_cha a{display:block;width:200px;height:85px;padding-left:99px;border-bottom:1px solid #dddddd;font-size:18px;color:#333;line-height:85px;}
.per_cha a.per{overflow:hidden;background: url(/images/main/person_icon.png) 30px center no-repeat;}
/* .per_cha .rBan_b{width:272px; height:106px; margin-top:6px; }
.per_cha .rBan_b a{width:132px; height:106px;}
.per_cha a.suttle{background:url(/images/main/shuttle_bus_ban.png) 0 0 no-repeat; font-size:0; color:#fff; overflow:hidden; }
.per_cha a.menu_ban{background:url(/images/main/menu_ban.png) 0 0 no-repeat; font-size:0; color:#fff; overflow:hidden; }
.per_cha a.qa_ban{background:url(/images/main/qa_ban.png) 0 0 no-repeat; font-size:0; color:#fff; overflow:hidden; }
.per_cha a.faq_ban{background:url(/images/main/faq_ban.png) 0 0 no-repeat; font-size:0; color:#fff; overflow:hidden; } */
.per_cha a.qa_ban{display:block;padding-left:80px;width:69px;overflow:hidden;background: url(/images/main/qa_icon.png) 15px center no-repeat;}
.per_cha a.faq_ban{display:block;padding-left:80px;width:69px;overflow:hidden;height:86px;border-left:1px solid #dddddd;background: url(/images/main/faq_icon.png) 15px center no-repeat;}
.per_cha a.web_ban{display:block;padding-left:80px;width:69px;overflow:hidden;background: url(/images/main/arrowDown.png) 15px center no-repeat;}
.per_cha a.mobile_ban{display:block;padding-left:80px;width:69px;overflow:hidden;height:86px;border-left:1px solid #dddddd;background: url(/images/main/arrowDown.png) 15px center no-repeat;}
.info_area::after{display:block; height:0; content:''; clear:both;}
.ban_area{height:68px; margin-top:17px;}
.ban_frame{width:1105px; margin:0 auto; overflow:hidden;}
.ban_area .move_btn{position:absolute; display:block; width:45px; height:66px; background:url(/images/main/ban_move_btn.png) 0 0 no-repeat; text-indent:-9999px; overflow:hidden; z-index:10;}
.ban_area .ban_prv{left:0px; top:0; border:none;}
.ban_area .ban_next{right:0; top:0; background-position: 0 -66px; border:none;}
.ban_area .ban_prv:hover{background-position: -45px 0px;}
.ban_area .ban_next:hover{background-position: -45px -66px;}
.assort_ban{position:relative;width:1380px;text-align: center; font-size: 0;}
.assort_ban li{float:left; background:url(/images/main/ban_dot.gif) 0 50% no-repeat;}
.assort_ban li a{display:block; width:221px; height:53px; padding-top:15px; text-align: center; overflow:hidden;}
.assort_ban li.as_ban01 a{ height:55px; padding-top:17px;}
.assort_ban li.as_ban04 a{ height:58px; padding-top:10px;}
.assort_ban li.as_ban05 a{ height:50px; padding-top:18px;}
.assort_ban li:first-child{background-image:none;}
.assort_ban::after{display:block; height:0; content:''; clear:both;}
/* main_contents end */
#footer{height:30px; padding-top:20px; margin-top:40px; background-color:#575c63; color:#bbb; font-size:11px; text-align:center;}
#footer.fixed{position:fixed;bottom:0;width:100%;}
/* main_page end*/

/* 메세지 박스 */
/* .msgBox { position:relative; float:left; width:372px; border:solid 2px #4d8ce4; background:#fff; } */
.msgBox { position:relative; float:left; width:372px; min-height:150px; border:solid 2px #666; background:#fff; }
/* .msgBox .msgBoxIn { width:362px; border:solid 5px #f4f4f4;  position:relative; float:left; padding:13px 0 15px 0; } */
.msgBox .msgBoxIn { width:362px;min-height:105px; border:solid 5px #f4f4f4;  position:relative; float:left; padding:35px 0 0 0; }
.msgBox .msgBoxIn strong { width:140px; text-align:center; display:inline-block; font-family:"Nanum Gothic",Helvetica, Arial,Verdana; font-size:26px; color:#6495ed; font-weight:normal; line-height:32px; }
.msgBox .msgBoxIn ul { padding: 3px 0; vertical-align:middle; font-size: 12px; }
.msgBox .msgBoxIn li { font-size:14px; color:#000; line-height:140%; }
.msgBox .msgBoxIn li a { font-size:12px;}
.msgBox .msgBoxIn .boxRound01 { width:12px; height:12px; position:absolute; left:-7px; top:-7px; }
.msgBox .msgBoxIn .boxRound02 { width:12px; height:12px; position:absolute; right:-7px; top:-7px; }
.msgBox .msgBoxIn .boxRound03 { width:12px; height:12px; position:absolute; left:-7px; bottom:-7px; }
.msgBox .msgBoxIn .boxRound04 { width:12px; height:12px; position:absolute; right:-7px; bottom:-7px; }

/* 버튼 */
.btn_area { font-size: 0px;width:100%;margin-top:30px;margin-bottom:20px;text-align:center;}
.white_btn22 { display: inline-block; height: 22px; background:url('../../images/bttn/white_btn22.png') 0px 0px no-repeat; }
.white_btn22 span { height: 20px; display: inline-block; padding: 2px 20px 0px 20px; background:url('../../images/bttn/white_btn22.png') 100% -22px no-repeat; color: #103c6a; font-size: 11px; font-weight: 900; cursor: pointer; }
.white_btn22.pop_sel_btn span { width: 50px; font-weight: normal; color: #000; padding-left: 10px; padding-right: 10px; }
