<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- ################ datasource establishment start ###################### -->
    <bean id="dataSource" class="com.hncis.common.application.SecureBasicDataSource" destroy-method="close">
        <description>dataSource 설정</description>
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="100"/>
        <property name="minIdle" value="20"/>
        <property name="maxIdle" value="30"/>
        <property name="maxWait" value="120000"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="60"/>
    </bean>
    <!-- ################ datasource establishment end ###################### -->

    <!-- ################ messageSource establishment start ############################# -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <description>에러메시지 설정</description>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="basename">
            <value>classpath:com/hncis/common/message/messages</value>
        </property>
        <property name="fallbackToSystemLocale" value="false"/>
	    <property name="cacheSeconds" value="5"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
	    <property name="defaultLocale" value="ko" />
	</bean>


    <bean id="hncisMessageSource" class="com.hncis.common.message.HncisMessageSource">
        <description>글로벌총무시스템 messageSource</description>
        <property name="messageSource" ref="messageSource" />
    </bean>
    <!-- ################ messageSource establishment end   ############################## -->

    <!-- ################ transactionManger establishment start ###################### -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       <description>글로벌총무 트랜잭션메니져 설정</description>
       <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--  ################ transactionManger establishment end ###################### -->

    <!-- ################ control field aop establishment start ###################### -->
    <aop:aspectj-autoproxy />
    <!-- ################ control field aop establishment end ###################### -->

    <!-- ################ sqlMapClient establishment start ########################### -->
    <bean id="dataSource_log4j" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="dataSource" />
        <property name="logFormatter">
            <bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
				<!-- SINGLE_LINE|MULTI_LINE -->
				<property name="loggingType" value="MULTI_LINE" />
				<property name="sqlPrefix" value=" SQL ::: " />
            </bean>
        </property>
    </bean>

    <bean id="sqlMapClient" class="com.hncis.common.ibatis.RefreshableSqlMapClientFactoryBean">
    	<description>ibatis refresh - sqlMapClient 설정</description>
    	<property name="dataSource" ref="dataSource_log4j" />
		<property name="mappingLocations" value="classpath:com/hncis/sql/${DB_TYPE}/**/*.xml" />
        <property name="configLocation" value="classpath:com/hncis/sql/config/sqlMapConfig.xml" />
		<property name="checkInterval" value="1000" />
    </bean>

	 <!--
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <description>sqlMapClient 설정</description>
        <property name="dataSource" ref="dataSource_mysql" />
        <property name="configLocation" value="classpath:com/hncis/sql/config/sqlMapConfig.xml" />
    </bean>
    -->
    <!-- ################ sqlMapClient establishment end ############################# -->

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <description>프로퍼티loader 설정</description>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:systemArea.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.hncis" />
	<context:annotation-config />

    <bean id="commonJobDao" class="com.hncis.common.dao.impl.CommonJobDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="SystemDao" class="com.hncis.system.dao.impl.SystemDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="BoardDao" class="com.hncis.board.dao.impl.BoardDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="BusinessTravelDao" class="com.hncis.businessTravel.dao.impl.BusinessTravelDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="JobDao" class="com.hncis.batch.job.dao.impl.JobDaoImplByIbatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="JobDetailDao" class="com.hncis.batch.job.dao.impl.JobDetailDaoImplByIbatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="EntranceMealDao" class="com.hncis.entranceMeal.dao.impl.EntranceMealDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="PickupServiceDao" class="com.hncis.pickupService.dao.impl.PickupServiceDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
     <bean id="BusinessVehiclesDao" class="com.hncis.businessVehicles.dao.impl.BusinessVehiclesDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="BusinessCardDao" class="com.hncis.businessCard.dao.impl.BusinessCardDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="RoomsMealsDao" class="com.hncis.roomsMeals.dao.impl.RoomsMealsDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="UniformDao" class="com.hncis.uniform.dao.impl.UniformDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="SecurityDao" class="com.hncis.security.dao.impl.SecurityDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
     <bean id="GeneralServiceDao" class="com.hncis.generalService.dao.impl.GeneralServiceDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
     <bean id="ShuttleBusDao" class="com.hncis.shuttleBus.dao.impl.ShuttleBusDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="TaxiDao" class="com.hncis.taxi.dao.impl.TaxiDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="TrafficTicketServiceDao" class="com.hncis.trafficTicket.dao.impl.TrafficTicketServiceDaoImplByIbatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
	<bean id="PostOfficeDao" class="com.hncis.postOffice.dao.impl.PostOfficeDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="DashBoardDao" class="com.hncis.dashBoard.dao.impl.DashBoardDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="OfficeSuppliesDao" class="com.hncis.officeSupplies.dao.impl.OfficeSuppliesDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="CertificateDao" class="com.hncis.certificate.dao.impl.CertificateDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="GiftDao" class="com.hncis.gift.dao.impl.GiftDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
   	<bean id="BooksDao" class="com.hncis.books.dao.impl.BooksDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="RestCenterDao" class="com.hncis.restCenter.dao.impl.RestCenterDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
   <bean id="vehicleLogDao" class="com.hncis.vehicleLog.dao.impl.VehicleLogDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="fuelCostDao" class="com.hncis.fuelCost.dao.impl.FuelCostDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="TrainingDao" class="com.hncis.training.dao.impl.TrainingDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="leaveDao" class="com.hncis.leave.dao.impl.LeaveDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="smartRoomsDao" class="com.hncis.smartRooms.dao.impl.SmartRoomsDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="familyJobDao" class="com.hncis.familyJob.dao.impl.FamilyJobDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="productDao" class="com.hncis.product.dao.impl.ProductDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="cooperatorDao" class="com.hncis.cooperator.dao.impl.CooperatorDaoImplByIBatis">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
</beans>
