<%@ page contentType="text/html;charset=utf-8" isErrorPage="true" %>
<%@page import = "java.lang.*" %>
<%@page import = "java.io.*" %>
<%
	String ctxPath = request.getContextPath();
	String msg = exception.getMessage().toString();
	String path = ctxPath+"/index.htm";
	
	System.out.println("sessionError.html Debug!!!");
	
	StringBuffer toDoHTML = new StringBuffer();
	
	toDoHTML.append("if(top){																					\n");
	toDoHTML.append("	if(top.opener==null){                                                                   \n");
	toDoHTML.append("		if(parent.frames.length > 0){                                                       \n");
	toDoHTML.append("			alert('"+msg+"');       \n");
	toDoHTML.append("			top.location.href='"+path+"';		                                        	\n");
	toDoHTML.append("		}else{                                                                              \n");
	toDoHTML.append("			alert('"+msg+"');       \n");
	toDoHTML.append("			window.location.href='"+path+"';                                          		\n");
	toDoHTML.append("		}                                                                                   \n");
	toDoHTML.append("	}else{                                                                                  \n");
	toDoHTML.append("		alert('"+msg+"');           \n");
	toDoHTML.append("		top.close();                                                                        \n");
	toDoHTML.append("	}                                                                                       \n");
	toDoHTML.append("}else{                                                                                     \n");
	toDoHTML.append("	if(opener==null){                                                                       \n");
	toDoHTML.append("		if(top){                                                                            \n");
	toDoHTML.append("			alert('"+msg+"');       \n");
	toDoHTML.append("			top.location.href='"+path+"';                                             		\n");
	toDoHTML.append("		}else{                                                                              \n");
	toDoHTML.append("			alert('"+msg+"');       \n");
	toDoHTML.append("			window.location.href='"+path+"';                                          		\n");
	toDoHTML.append("		}                                                                                   \n");
	toDoHTML.append("	}else{                                                                                  \n");
	toDoHTML.append("		alert('"+msg+"');           \n");
	toDoHTML.append("		top.location.href='"+path+"';   													\n");
	toDoHTML.append("		close();                                                                            \n");
	toDoHTML.append("	}                                                                                       \n");
	toDoHTML.append("}                                                                                       	\n");
%>
<script>
	<%= toDoHTML %>
</script>
